API_TITLE=Название проекта
API_DESCRIPTION=Описание проекта
DATABASE_URL=sqlite+aiosqlite:///./test.db
APP_AUTHOR=author
SECRET_KEY=J9a9pdz-F5w25iYDO25EEsSQocTdgm8YbvAu9vOZAWg

ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30