ENVIRONMENT=prod
API_TITLE=Бронирование мест в кафе
API_DESCRIPTION=Сервис для управления бронированием мест в кафе, просмотром и предварительным заказом меню, просмотром действующих акций
POSTGRES_DB=cafe_reserv
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin
DATABASE_URL=postgresql+asyncpg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/{POSTGRES_DB}
APP_AUTHOR=username
# SECRRT необходим для подписи токена при создании и для проверки подписи при 
# каждом запросе. Защита токена от подделывания.
SECRET_KEY=J9a9pdz-F5w25iYDO25EEsSQocTdgm8YbvAu9vOZAWg

ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
